body{
    display: grid;
    grid-template-columns: 80px 400px 150px;
    grid-template-rows: 50px 200px 50px 20px;

}

#card_front {
    grid-row: 1/3;
    grid-column: 1/3;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    max-width: 300px;
    background-color: lightgray;
    padding:10px  40px;
    
    border-radius: 5%;
    box-shadow: 1px 1px 5px;
}
#card_front p{
    display: flex;
    align-self: center;
}
p{
    margin: 0%;
}

#card_MM, #card_YY {
    width: 35px;
    height: 25px;
}
#Card_Exp{
    grid-column: 2/3;
    grid-row: 3/4;
    margin: 13px 0;

}
#Exp{
    display: flex;
    justify-content: space-between;
}
.card_Img{
    display: flex;
    justify-self: end;
    align-self: center;

}

.card_number {
    grid-column: 1/3;
    grid-row: 2/3;
    margin: 8px 0;
}
.card_number input{
    min-width: 100%;
    height: 25px;
}

.card_holder input{
    height: 25px;

}

.card_holder {
    grid-column: 1/2;
    grid-row: 3/4;
    margin: 12px 0;

}

#card_back{
    grid-column: 2/4;
    grid-row: 2/4;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 1fr ;
    width: 400px;
    background-color: lightgray;
    padding:10px  00px;
    border-radius: 5%;
    z-index: -1;
    border-radius: 5%;
    box-shadow: 1px 1px 5px;
}

#card_back div:nth-child(2) {
    grid-column: 3/4;
    grid-row: 2/3;
    display: flex;
    align-self: flex-end;
    flex-direction: column;
    padding-bottom: 10px;
}

#bar {
    background-color: black;
    grid-column: 3/4;
    grid-row: 1/2;
    width: 99px;
    height: 50px;
    margin-top: 10px;
}

#card_back div input{
    width: 65px;
}