@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap');
@import url("https://fonts.googleapis.com/css2?family=family=Amatic+SC&display=swap");
 :root {
 --primary-color: #1B98E0;
 --secondary-color: #59c3c3;
 --text-dark: #333;
 --text-light: #ebebeb;
 --primary-font: Arial, Helvetica,sans-serif;
 --secondary-font: "Amatic SC";
 }
body {

    font-family: var(--secondary-font);
}

.headline {
    font-family: "Amatic SC";
}

img {
	max-width: 100%;
}

header{
    display: flex;
    justify-content: center;
    font-family: var(--secondary-font);
    margin-bottom: 30px;
}

.social{
    display: flex;
    flex-direction: row;
    margin: 10px auto;
    justify-content: center;
}

.social a{
    width: 50px;
    margin: 5px;
}

header img{
    width: 100px;
  
}

#search{
    border: solid 1px black;
    border-radius: 5px 0 0 5px ;
    width: 270px;
    height: 40px;
}

#search_cont #Button{
    width: 33px;
    border: solid 1px black;
    border-radius: 0 5px 5px 0;
    padding: 2.5px;
   

}

#search_cont {
    display: flex;
    align-items: center;
    justify-content: center;
    

}

#search_cont #search{
    font-size: 20px;
}

h1{
    font-size: 50px;
    align-self: flex-end;
    margin: 0;
}

#recipe {
    display: flex;
    flex-direction: column;
    border: solid 1px black;
    border-radius: 5px;
    max-width: 90%;
    margin: 50px auto;
    padding: 20px;
}



#tags {
    display: flex;  
    gap: 10px;
}
#tags p{
    border: solid 1px black;
    padding: 5px;
    /* max-width: 100px; */
    text-align: center;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;


}

#name{
    font-size: 50px;
    color: blue;
    margin: 0;
}
#recipe img {
    display: flex;
    justify-self: center;
 }

 #des{
    display: none;
 }
 footer {
    text-align: center;
}

 @media (min-width: 700px){
    #recipe {
        display: flex;
        flex-direction: row;
    }
    #recipe img{
        max-width: 50%;
        margin-right: 20px;
    }
     #des{
    display: block;
 }

}
