@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap');

body {
    max-width: 60%;
    margin: 0 auto;
    font-family: Arial, Helvetica,sans-serif;
}

.headline {
    font-family: "Amatic SC";
}

img {
	max-width: 100%;
}